*{
    margin: 0;
    padding: 0;
    
}

#banner{
    height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.5),#009688),url(images/banner.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
.logo{
    position: absolute;
    top: 4%;
    left: 12%;
    width: 140px;
}
.text-box{
    text-align: center;
    padding-top: 180px;
    color: #fff;
}
.text-box h1{
    font-size: 140px;
}
.text-box p{
    font-size: 20px;
    font-style: italic;
    text-transform: capitalize;
}
.btn{
    margin-top: 70px;
}
.btn a{
    color: #fff;
    border: 1px solid #fff;
    width: 140px;
    padding: 15px 0;
    margin: 0 15px;
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    position: relative;
    z-index: 1;
    border-radius: 35px;
    overflow: hidden;
}
.btn a::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #fff;
    transition: 0.5s;
    z-index: -1;
}
.btn a:hover::after{
    width: 100%;
}
.btn a:hover{
    color: #000;
}
@media screen and (max-width:770px) {
    .text-box h1{
        font-size: 70px;
    }
    .text-box p{
        font-size: 14px;
    }
    .btn a{
        display: block;
        margin: 40px auto;
    }

}

#feature{
    width: 100%;
    padding: 70px 0;
    background-color: #efefef;
}
.text-title{
    width: 80%;
    margin: auto;
    text-align: center;
}
.text-title p{
    color: #009688;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    display: inline-block;
    z-index: 1;
}
.text-title p::after{
    content: '';
    position: absolute;
    top: -20px;
    left: 0;
    height: 35px;
    width: 50px;
    background: linear-gradient(#009688,#fff);
    z-index: -1;
    transform: rotate(10deg);
    border-bottom-right-radius: 35px;
    border-top-left-radius: 35px;
}
.text-title h1{
    font-size: 50px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-bottom: 40px;
    margin-top: 10px;
}
.feature-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-align: center;
}
.features{
    flex-basis: 50%;
}
.features h1{
    color: #009688;
    text-align: left;
    font-weight: 100;
    margin-bottom: 10px;
}
.feature-desc{
    display: flex;
    margin-bottom: 40px;
    align-items: center;
}
.feature-icon i{
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    border: 1px solid #009688;
    font-size: 30px;
    color: #009688;
    border-radius: 8px;
}
.feature-text p{
    text-align: initial;
    padding: 0 10px;
}
.feature-img{
    flex-basis: 50%;
    margin: auto; 
}
.feature-img img{
    width: 70%;
    border-radius: 10px;
}

@media screen and (max-width:770px){
    .text-title h1{
        font-size: 37px;
    }
    .features{
        flex-basis: 100%;
    }
    .feature-img{
        flex-basis: 100%;
    }
    .feature-img img{
     width: 100%;
    }
}


#services{
    width: 100%;
    padding: 70px 0;
    background-color: #efff;
}
.services-box{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-top: 10px;
 }

.services-img{
    flex-basis: 48%;
    margin-bottom: 20px;
    border-radius: 7px;
    position: relative;
    color: #fff;
    text-align: center;
    cursor: pointer;
}
.services-img img{
    width: 100%;
    border-radius: 7px;
    
}
.overly{
    position: absolute;
    top: 0;
    left: 0;
    height: 99%;
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.5),#009688);
    opacity: 0;
    transition: 1s;
    border-radius: 7px;
}
.services-img:hover .overly{
    opacity: 1;
}
.services-desc{
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 80%;
    opacity: 0;
    transition: 1s;
}
.services-desc h4{
    margin-bottom: 10px;
}
.services-desc hr{
    width: 60%;
    margin: auto;
    border: 0;
    height: 2px;
    background-color: #fff;
    margin-bottom: 10px;
}
.services-desc p{
    font-size: 15px;
    line-height: 1.2;
}
.services-img:hover .services-desc{
    bottom: 40%;
    opacity: 1;
}
@media (max-width:770px) {
    .text-title h1{
        font-size: 32px;
    }
    .services-img{
        flex-basis: 100%;
    }
    .services-img:hover .services-desc{
        bottom: 25%;
    }
}


#testimonial{
    width: 100%;
    padding: 70px 0;
    background-color: #d3c7c760;
}

.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;

}
.testimonial-col{
    flex-basis: 28%;
    padding: 15px;
    margin-bottom: 30px;
    box-shadow: 0 3px 5px #555;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: transform 0.5s;
}
.testimonial-col:hover{
    transform: translateY(-15px);
}
.user{
    display: flex;
    align-items: center;
    margin: 10px 0;
}
.user img{
    width: 40px;
    margin-right: 10px;
    border-radius: 5px;
}
.user-info h4{
    color: #009688;
    text-transform: uppercase;
    font-size: 20px;
}
.user-info i{
    color: cornflowerblue;
    margin-left: 10px;
    border: 1px solid #c7b8b8;
    border-radius: 50%;
    padding: 5px;
    display: inline-block;
}
.user-info small{
    color: #dd22dd;
}
@media (max-width:770px) {
    .testimonial-col{
        flex-basis: 100%;
    }
}

#footer{
    width: 100%;
    padding: 100px 0 20px;
    background-color: #bbb3b398;
    position: relative;
}
.footer-img{
    max-width: 370px;
    opacity: 0.1;
    position: absolute;
    left: 50%;
    top: 35%;
    transform: translate(-50%,-50%);
}

.footer-area{
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.footer-left,.footer-right{
    flex-basis: 45%;
    padding: 10px;
    margin-bottom: 20px;
}
.footer-right{
    text-align: right;
}
.footer-area h1{
    margin: 10px 0;
}
.footer-area p{
    line-height: 35px;
}
.footer-left i,.footer-right i{
    font-size: 20px;
    color: #009688;
    margin: 0 10px;
}
.footer-social-icon{
    text-align: center;
}
.footer-social-icon i{
    color: #009688;
    height: 40px;
    width: 40px;
    font-size: 20px;
    border: 1px solid #009688;
    line-height: 40px;
    border-radius: 5px;
    margin: 40px 10px 0;
    cursor: pointer;
    transition: 0.5s;
}
.footer-social-icon i:hover{
    background-color: #009688;
    color: #fff;
    transform: translateY(-7px);
}
.footer-social-icon p{
    font-size: 12px;
    margin-top: 20px;
}
@media (max-width:990px) {
    .footer-img{
        max-width: 250px;
    }
}
@media (max-width:770px) {
    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        max-width: 220px;
        top: 20%;
    }
}


